<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/Head.ejs") %>
  
<body>

  <%- include("./partials/NavBar.ejs") %>

<!-- ======================================BEGINNING OF CARD SECTION OF ABOUT US=================== -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="img/businesslocation.jpeg" class="card-img-top" alt="location">
      <div class="card-body">
        <h5 class="card-title">Our Location</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non inventore ipsam nesciunt quod perspiciatis repudiandae debitis alias tenetur error consequatur, officiis molestiae incidunt reprehenderit sit distinctio laboriosam quam aliquid quasi!.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/businessteam.jpeg" class="card-img-top" alt="team">
      <div class="card-body">
        <h5 class="card-title">Our Professional Team</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quo dicta explicabo repudiandae accusamus laudantium eum tenetur? Cupiditate veritatis, iusto cum reprehenderit suscipit, vero eum inventore repudiandae iste, delectus commodi?.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="img/businessdeal.jpg" class="card-img-top" alt="busness deals">
      <div class="card-body">
        <h5 class="card-title">Our Brokerage Firm</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nisi non repellat maxime similique quod dolores minus amet vitae voluptatem illo, tenetur placeat, expedita quos eos ducimus repellendus, incidunt voluptatibus!.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>



<%- include("./partials/Footer.ejs") %>




<script src="bootstrap-dist/bootstrap-dist1/js/bootstrap.bundle.min.js"></script>
</body>
</html>